body {
    background-image: url("../images/newWave.jpg");
}

h1 {
    font-family: "impact";
    text-align: center;
    vertical-align: middle;
    background: white;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.jumbotron {
    background: white;
    border-style: solid;
}

.gameSpace {
    border: 3px solid black;
    height: 950px;
    background: white;
    text-align: center;
}

#gameBoard {
    font-size: 40px;
    margin-bottom: 20px;
}

.gameOutput {
    font-size:30px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    vertical-align: middle;
}

p {
    font-family: Comic;
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin-bottom: 50px;
}

#result {
    font-size: 40px;
    font-weight: bold;
    color: red;
    margin-top: 30px;
    margin-bottom: 50px;
}

#reveal {
    font-size: 35px;
    font-weight: bold;
}